<div data-hook="homepage_products">
  <h3>Contact Us</h3>
  <p>Want to customize a package for your specific event or just want to find us for a quick chat?</p>
  <p>Feel free to call / WhatsApp us at 5280-7784 OR send us a quick message below and we'll get back to you shortly!</p>
  <br>
  <div class="col-md-8 col-md-offset-2">
        <form id="customize_order_form" class="edit_order" action="/contact" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="zNKADJTQJ0O/iUYiKdRfucw/Cr8NQ8KhMZv6HNm3OzwhzhcK3AGvsLjTgKLjLQ0ezhriBO8nofJo7CVUSx4DxA==">
            <p>
              <input class="form-control title" placeholder="Name*" type="text" name="order[name]" id="order_name" required>
            </p>
            <p>
              <input class="form-control title" placeholder="Email*" type="email" name="order[email]" id="order_email" required>
            </p>
            <p>
              <input class="form-control title" placeholder="Phone*" type="number" name="order[phone]" id="order_phone" required>
            </p>
            <p>
              <textarea class="form-control" placeholder="Enquiry*"  type="text" name="order[enquiry]" id="order_enquiry" required></textarea>
            </p>
            <p><input type="submit" name="commit" value="Continue" class="btn btn-lg btn-success btn-block"></p>
        </form>
    </div>
</div>
