<div data-hook="homepage_products">
  <h3>Terms & Conditions</h3>
  <p>This web site is owned and operated by The Glass Formula, under Creatid Company Limited. The following Terms and Conditions apply to the use of this web site as well as all transactions conducted through the site.</p>

  <h3>Legal Notice</h3>
  <p>It is illegal to consume/sell alcohol to people under the age of 18. By placing an order, the Customer confirms that he/she is 18 years old or above. A person aged 18 or above (identification required) must be present to take delivery or delivery shall be withdrawn and attempted at another time agreed. <b>Furthermore, Creatid Company Limited urges <u>all customers and consumers of alcohol to drink responsibly.</u></b></p>


  <h3>Deposits & Cancellations</h3>
  <p>All orders require 100% full payment <u>at least</u> 5 days prior to the event as confirmation. Payment is fully refundable for any cancellations made at least 5 days in advance from event date, else 100% of the payment will be charged. Acceptable payment methods include bank transfer or cheques made payable to the following account:</p>

  <p><b>Bank Name</b>: Hang Seng Bank<br>
  <b>Account Number</b>: 933 080947 883<br>
  <b>Account Name</b>: CREATID COMPANY LTD</p>


  <h3>Shipping & Delivery</h3>
  <p>Creatid Company Limited welcomes customers to pickup orders (advanced booking required) at the Causeway Bay office between 10AM - 6PM from Monday to Friday (excluding Public Holidays). We also provide delivery services to locations within Hong Kong, excluding Restricted Areas, Outlying Islands (see list below for details) or other areas outside of Hong Kong. Free delivery will be provided if invoiced amount is over HKD1000, else a delivery fee of HKD120 will be imposed per order. For deliveries to Restricted Areas, Outlying Islands or other areas outside of Hong Kong, please ask for a separate quotation.</p>

  <p>The Customer is requested to examine the goods immediately upon delivery for any deficiencies and/or damages. Claims (if any) must be lodged to us at +852 5280 7784 at the time of delivery, otherwise we shall have the discretion to refuse your claim after delivery.</p>
  <br>
  <br>
  Restricted Areas and Outlying Islands includes:
  </p>
  <table class="table">
    <tr>
      <td>SHA TAU KOK</td>
      <td>TA KWU LING</td>
      <td>MAN KAM TO</td>
    </tr>
    <tr>
      <td>MAI PO</td>
      <td>LOK MA CHAU</td>
      <td>CLOSED AREA</td>
    </tr>
    <tr>
      <td>LO WU</td>
      <td>PO TOI</td>
      <td>TUNG LUNG CHAU</td>
    </tr>
    <tr>
      <td>GRASS ISLAND</td>
      <td>CROOKED ISLAND (KAT O)</td>
      <td>TUNG PING CHAU</td>
    </tr>
    <tr>
      <td>MUI WO</td>
      <td>LAMMA ISLAND</td>
      <td>PENG CHAU</td>
    </tr>
    <tr>
      <td>CHEUNG CHAU</td>
      <td>TAI O</td>
      <td>LANTAU ISLAND</td>
    </tr>
  </table>
  <br>
  <p>All goods will be shipped within 3 working days upon payment confirmation OR on the day as confirmed by our sales representative via telephone, WhatsApp or email confirmation. Delay may occur during Typhoon Signal No. 8 or above, Black Rainstorm warning or above, or due to delivery schedule of the courier company we employ.</p>

  <h3>Use Of Site</h3>
  <p>This site may contain other proprietary notices and copyright information, the terms of which must be observed and followed. Information, including product pricing and availability, may be changed or updated without notice. Creatid Company Limited and its subsidiaries reserve the right to refuse service, terminate accounts, and/or cancel orders in its discretion, including, without limitation, if Creatid Company Limited believes that customer conduct violates applicable law or is harmful to the interests of Creatid Company Limited and its subsidiaries.</p>

  <h3>Privacy Policy</h3>
  <p>Creatid Company Limited use of personal information that you may submit to us through this Web site is governed by the Creatid Company Limited Privacy Policy.</p>
  <div class="col-md-8 col-md-offset-2">

    </div>
</div>
