<!-- You can override this template to design your own header. -->
<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="twelve sub-columns last">
                    <%= link_to spree.root_url, class: 'template-label' do %>
                      <img src="http://www.theglassformula.com/assets/logo/TGF_logo_big_inverted-d94bbf501bb2df4d48566361e3ff55e528c83d051c50ec64cce1a6f95c971147.png", alt: "The Glass Formula", title: "The Glass Formula">
                    <% end %>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
