<!-- You can override this template to design your own header. -->
<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="twelve sub-columns last">
                    <%= link_to spree.root_url, class: 'template-label' do %>
                      <img src="http://www.theglassformula.com/assets/logo/TGF_logo_big_inverted-277c7a7192b0b123bb2a0ec090ee690b4eac99d0f3297d8ab9b15ab78396b1af.png", alt: "The Glass Formula", title: "The Glass Formula">
                    <% end %>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
