<div id="spree-footer">
  <footer id="footer" data-hook>
    <div class="container">
      <div class="row text-center">
        <span><a href="/terms">TERMS & CONDITIONS</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href='/terms'>DELIVERY POLICY</a></span>
        <br>
        <br>
        <span class="address">
        Call or WhatsApp Us At 5280 7784
        <br>
        Flat 4B, Cleveland Mansion, 5-7 Cleveland Street, Causeway Bay, Hong Kong
        </span>
        <br>
        <br>
        ©2016 The Glass Formula All Rights Reserved
        <br>
        Creatid Company, Limited
      </div>
    </div>
  </footer>
</div>
