<div id="spree-footer">
<div class="container-fluid">
<div class="row contact-info">
  <div class="col-md-4">
    <i class="fa fa-whatsapp" aria-hidden="true"></i> : <a style="color: white">(+852) 5280 7784</a>
  </div>
  <div class="col-md-4">
    <i class="fa fa-envelope-o" aria-hidden="true"></i> : info@theglassformula.com
  </div>
  <div class="col-md-4">
    <i class="fa fa-map-marker" aria-hidden="true"></i> : Causeway Bay, Hong Kong
  </div>
</div>
</div>
  <footer id="footer" data-hook>
    <div class="container">
      <div class="row text-center">
        <br>
        <a href="http://www.facebook.com/theglassformula" target="_blank"><%= image_tag Spree::Config[:facebook_icon], class: 'social-media-icons', alt: "The Glass Formula Hong Kong Facebook Page", title: Spree::Store.current.name %></a>
        <a href="http://www.instagram.com/theglassformula" target="_blank"><%= image_tag Spree::Config[:instagram_icon], class: 'social-media-icons', alt: "The Glass Formula Hong Kong Instagram", title: Spree::Store.current.name %></a>
        <a href="https://www.linkedin.com/company/the-glass-formula" target="_blank"><%= image_tag Spree::Config[:linkedin_icon], class: 'social-media-icons', alt: "The Glass Formula Hong Kong LinkedIn Page", title: Spree::Store.current.name %></a>
        <br>
        <br>
        <span class="address">Follow us on social media :)</span>
        <br>
        <br>
        <span class="links"><a href="/terms">TERMS & DELIVERY POLICY</a></span>
        <BR>
        ©2016-17 The Glass Formula Hong Kong All Rights Reserved
        <br>
        Creatid Company Limited
      </div>
    </div>
  </footer>
</div>
