<div id="spree-footer">
  <footer id="footer" data-hook>
    <div class="container">
      <div class="row text-center">
        ©2016 The Glass Formula All Rights Reserved
        <br>
        Creatid Company, Limited
      </div>
    </div>
  </footer>
</div>
