<div data-hook="homepage_products">
  <h2 class="main-heading">Unbottle The Party With Us</h2>
  <span  class="hidden"><%= image_tag Spree::Config[:cuhk_catalog] %></a></span>
  <p class="how-we-work-blurb">Here at The Glass Formula, our belief is simply <i><u>to have fun</u></i>. Wedding celebration? Picnic? Junk trip? Corporate party? Or simply just chilling with friends? We're most definitely there... well, as long as there is booze. We hustle around town to provide unique cocktails and beverage packages tailor-made for any party and event, so if you're looking to turn any normal party into a great one, you're at the right place!</p>
  <div class="how-we-work">
    <div class="text-center how-we-work-icons">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <br>
      <br>
      <h4 class="icon-blurb">Shop For Unique Party Drinks <br>With The Glass Formula</h4>
    </div>
    <div class="text-center how-we-work-icons">
      <span class="glyphicon glyphicon-time"></span>
      <br>
      <br>
      <h4 class="icon-blurb">Save Money, Time and Hassle <br>Organising Your Party</h4>
    </div>
    <div class="text-center how-we-work-icons">
      <span class="glyphicon glyphicon-home"></span>
      <br>
      <br>
      <h4 class="icon-blurb">Relax, Sit Back & <br>We'll Handle The Rest!</h4>
    </div>
  </div>
  <div class="call-to-action">
    <a href="/shop"><button class="btn btn-info btn-lg">Shop Now</button></a>
  </div>
  <!-- <p class="last-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fuga, ad non a debitis tempore. Animi earum tempora quidem autem ab iste provident repellendus, pariatur, facere nesciunt facilis! Explicabo, distinctio!</p> -->
</div>
